*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: #333;
}

.navbar {
    width: 100%;
    padding: 1rem 2rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem
}
.nav-links a{
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.user-name {
    background-color: #e5f3ff;
    color: #2f88e7;
    padding: 15px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.user-name:hover {
    background-color: #cce8ff;
}

.hero{
    display: flex;
    height: 83vh;
    overflow: hidden;
}

.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vw;
    background-color: white;
}

.laundry{
    color: #0099ff;
}
.hero-left h1{
    font-size: 3vw;
    margin-bottom: 1.5rem;
}
.hero-left p{
    font-size: 2vw;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.button{
    display: inline;
    padding: 14px 20px;
    font-size: 1.5rem;
    background-color:rgb(47, 138, 213);
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color:bisque;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-right img {
    width: 70%;
    height: 80%;
}
